CONFIG_INTEL_TDX_GUEST=y
CONFIG_VIRT_DRIVERS=y
CONFIG_TDX_GUEST_DRIVER=y
CONFIG_SEV_GUEST=y
CONFIG_AMD_MEM_ENCRYPT=y
CONFIG_AMD_SECURE_AVIC=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_LIB_AES=y
# CONFIG_X86_64_ACPI_NUMA is not set
CONFIG_ACPI=y
# CONFIG_ACPI_DEBUGGER is not set
# CONFIG_ACPI_SPCR_TABLE is not set
# CONFIG_ACPI_FPDT is not set
# CONFIG_ACPI_REV_OVERRIDE_POSSIBLE is not set
# CONFIG_ACPI_EC_DEBUGFS is not set
# CONFIG_ACPI_AC is not set
# CONFIG_ACPI_BATTERY is not set
# CONFIG_ACPI_TINY_POWER_BUTTON is not set
# CONFIG_ACPI_DOCK is not set
# CONFIG_ACPI_PROCESSOR is not set
# CONFIG_ACPI_TABLE_UPGRADE is not set
# CONFIG_ACPI_DEBUG is not set
# CONFIG_ACPI_PCI_SLOT is not set
# CONFIG_ACPI_CONTAINER is not set
# CONFIG_ACPI_HOTPLUG_MEMORY is not set
# CONFIG_ACPI_SBS is not set
# CONFIG_ACPI_HED is not set
# CONFIG_ACPI_REDUCED_HARDWARE_ONLY is not set
# CONFIG_ACPI_NFIT is not set
# CONFIG_ACPI_APEI is not set
# CONFIG_ACPI_DPTF is not set
# CONFIG_ACPI_CONFIGFS is not set
# CONFIG_ACPI_PFRUT is not set
# CONFIG_ACPI_FFH is not set
# CONFIG_PMIC_OPREGION is not set
# CONFIG_X86_PM_TIMER is not set
# CONFIG_PCI_MMCONFIG is not set
# CONFIG_SERIAL_8250_PNP is not set
